<template>
  <div id="app">
    <img src="./assets/logo.png">
    <router-view/>
  </div> 
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  margin-top: 60px;
}


/*body
{
   position: center;
   width: 1440px;
   height: 712px;
   background: #FFFFFF;
   
   background: #E5E5E5;
   position: absolute;
   width: 822.3px;
   height: 712px;
   left: 618px;
   top: 0px;
   background: #EA8362;
} */

.authentificate
{
   position: center;
   width: 425px;
   height: 65px;
   left: 507px;
   top: 168px;
   
   background: white;
   box-shadow: 0px 8.41615px 8.41615px rgba(0, 0, 0, 0.05);
   border-radius: 4px;
}

.d
{
   position: center;
   width: 425px;
   height: 461px;
   left: 507px;
   top: 168px;
   
   background: #FFFFFF;
   border-radius: 4px;
}

.e
{
   position: center;
   width: 425px;
   height: 65px;
   left: 507px;
   top: 168px;
   
   background: #FFFFFF;
   box-shadow: 0px 8.41615px 8.41615px rgba(0, 0, 0, 0.05);
   border-radius: 4px;
}

.g
{
   position: center;
   width: 339.71px;
   height: 48px;
   left: 550px;
   top: 503.36px;
   
   background: #E25527;
   border-radius: 3.36646px;
}
</style>
