<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>monprojet_vue</title>
  </head>
  <body style="position: center;
  width: 1440px;
  height: 712px;
  background: #FFFFFF;
  
  background: #E5E5E5;
  position: absolute;
  width: 822.3px;
  height: 712px;
  left: 618px;
  top: 0px;
  background: #EA8362;">
    <!-- <div id="app"></div>
     built files will be auto injected -->

    

      <header >
        
            <img src="opensi.png" alt="OpenSI" >
            
      </header>
  
  
    <div id="app">
      <!-- {{ message }} -->
    </div>
  
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          message: ' '
        }
      })
    </script>
    
    <div style="position: center;
    width: 425px;
    height: 461px;
    left: 507px;
    top: 168px;
    
    background: #FFFFFF;
    border-radius: 4px;"> <p style="color:orange; position:center;"> </br> <span style=".e
      {
         position: center;
         width: 425px;
         height: 65px;
         left: 507px;
         top: 168px;
         
         background: #FFFFFF;
         box-shadow: 0px 8.41615px 8.41615px rgba(0, 0, 0, 0.05);
         border-radius: 4px;
      }" > Authentication </span> </p>  
        </br></br></br></br>
      <p>Username</p>
      
          <div id="app-6" style="position:center;">
            <p> </p>
            <input v-model="message">
          </div>
          <script>
            var app6 = new Vue({
              el: '#app-6',
              data: 
              {
                message: ' '
              }
            })
          </script>
      
      
      <p>Password</p>
            <div id="app-7" style="position:center;">
              <p> </p>
                <input v-model="message">
            </div>
            <script>
              var app7 = new Vue({
                el: '#app-7',
                data: 
                {
                  message: ' '
                }
              })
            </script>
    
    <span style="color:grey;"> Remember me </span> </br></br>
    
    <div style="position: center;
    width: 339.71px;
    height: 48px;
    left: 550px;
    top: 503.36px;
    
    background: #E25527;
    border-radius: 3.36646px;">  <span style="color:white;"> Login </span>  </div>
    <span style="color:grey;"> Need an account ? </span> <span style="color:orange;"> Sign Up </span> </br></br>
    
    
    </div>

    
</html>
